@import "/src/pages/base.module.scss";

.detail {
  padding: 2rem 0;
  min-height: 100vh;
  @include container;
  @include flex-column;
  row-gap: 3rem;
  padding-top: 101.5px;

  .btn {
    margin-top: 6rem;
  }
  .detailItem {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 5%;

    img {
      width: 100%;
      height: auto;
      max-height: 50vh;
      margin: 0;
      padding: 0;
    }

    .desc1 {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
    }

    .desc {
      margin-left: 6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .nameDesc {
        font-size: 32px;
        font-weight: 700;
      }

      .boxDesc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5%;

        .leftDesc {
          display: flex;
          flex-direction: column;
          row-gap: 1rem;

          .nativeName {
          }
        }
        .rightDesc {
          display: flex;
          flex-direction: column;
          row-gap: 1rem;
        }
      }
    }
  }
  .border {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: (max-content 1fr);
    column-gap: 1rem;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    .boxBtn {
      @include flex-row;
      gap: 1rem;
      flex-wrap: wrap;

      .btn1 {
        height: 1.8rem;
        padding: 0;
        width: 3rem;
      }
    }
  }
}

@media screen and (max-width: 978px) {
  .detail {
    .detailItem {
      @include flex-column;
      .desc {
        margin-left: 0;
        margin-top: 1rem;
        .boxDesc {
          @include flex-column;
          gap: 1rem;
        }
      }
    }
    .border {
      @include flex-column;
      row-gap: 1rem;
      margin-top: 1rem;
    }
  }
}
