body {
  font-family: "VT323", monospace;
  color: rgba(62, 51, 78, 1);

  overflow: hidden; /* Hide scrollbars */
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgba(244, 244, 244, 1);
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: rgb(44, 81, 112);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  box-sizing: border-box;
}

.box-calc {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.switcher {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.text2-switch {
  font-size: 20px;
  color: #fcfcfd;
}

.text-switch {
  font-size: 40px;
  color: #fcfcfd;
}

.result {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1.6rem 1.6rem;
  background: rgb(25, 44, 59);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#resultText {
  pointer-events: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  font-size: 42px;
  text-align: end;
  border-style: none;
  color: #fcfcfd;
  padding: 0;
}

/* .result input:focus {
  outline: none;
} */
.button_calc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 18px;
  padding: 1.6rem;
  background: rgb(39, 65, 85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.button_calc button {
  padding: 0.6rem 1.8rem;
  font-size: 46px;
  font-family: inherit;
  background-color: #fcfcfd;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #b2b2b3 0 -3px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  transition: box-shadow 0.15s, transform 0.15s;
}

.button_calc button:nth-child(4) {
  /* font-size: 36px; */
  background: rgb(79, 123, 160);
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(41, 76, 104) 0 -3px 0 inset;
  color: #fcfcfd;
}

.button_calc button:nth-child(17) {
  /* font-size: 36px; */
  grid-area: 5 / 1 / span 1 / span 2;
  background: rgb(79, 123, 160);
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(41, 76, 104) 0 -3px 0 inset;
  color: #fcfcfd;
}

.button_calc button:nth-child(18) {
  grid-area: 5 / 3 / span 1 / span 2;
  color: #fcfcfd;
  background: rgb(207, 45, 45);
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(133, 16, 16) 0 -3px 0 inset;
}

/* .button_calc button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
} */

.button_calc button:hover {
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}

.button_calc button:active {
  transform: translateY(2px);
}

.slider-switch {
  display: flex;
  flex-direction: row;
  column-gap: 1.6rem;
  align-items: end;
}

.redButton.horizTranslate2 {
  -webkit-transition: -webkit-transform 0.1s linear;
  -webkit-transform: translateX(20px);
}
.redButton.horizTranslate3 {
  -webkit-transition: -webkit-transform 0.1s linear;
  -webkit-transform: translateX(40px);
}
.redButton.horizTranslate1 {
  -webkit-transition: -webkit-transform 0.1s linear;
  -webkit-transform: translateX(0px);
}

#outerContainer {
  position: relative;
  width: 111px;
  height: 70px;
  justify-content: end;
}
#buttonContainer {
  background-color: rgb(39, 65, 85);
  width: 71px;
  height: 28px;
  position: relative;
  left: 20px;
  top: 45px;
  border-radius: 14px;
}
.redButton {
  width: 16px;
  height: 16px;
  background-color: #db3d2b;
  border-radius: 8px;
  position: relative;
  top: 6px;
  left: 6px;
}
#legendTextContainer {
  left: 22px;
  display: inline-block;
  position: absolute;
  top: 23px;
  color: #ffffff;
  font-family: Arial;
  font-size: 10pt;
  text-align: center;
}
.legendText {
  display: inline-block;
  width: 20px;
  padding-bottom: 33px;
  cursor: default;
  user-select: none;
}
#message {
  border: 1px solid #cccccc;
  display: inline-block;
  padding: 4px;
  margin-top: 6px;
  font-family: Arial;
  font-size: 10pt;
}

@media screen and (max-width: 576px) {
  .button_calc button {
    padding: 0.2rem 1rem;
  }

  .button_calc button:nth-child(4) {
    /* font-size: 36px; */
    font-size: 30px;
  }
  .button_calc button:nth-child(17) {
    /* font-size: 36px; */
    font-size: 30px;
  }

  #resultText {
    font-size: 30px;
  }
}

@media screen and (max-width: 300px) {
  .button_calc button {
    padding: 0;
  }

  #resultText {
    font-size: 26px;
  }
}
