@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

body {
  font-family: "Red Hat Text", sans-serif;
  color: antiquewhite;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: hsl(234, 17%, 12%);
  overflow-x: hidden;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  position: relative;
  row-gap: 4rem;
  background-image: url(assets/bg-stars.svg);
  padding: 1rem;
  box-sizing: border-box;
}

.text1 {
  padding-top: 20vh;
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 28px;
  letter-spacing: 0.8rem;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.main div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-number {
  display: flex;
  flex-direction: column;
  width: 17rem;
  height: 16rem;
  font-size: 100px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.box-atas {
  width: 90%;
  height: 40%;
  background: red;
  position: absolute;
  top: calc(10% - 0.5px);
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  transform-origin: bottom;
  /* transform: rotateX(0deg);
  animation: flip-top 1s ease-in forwards;
  -webkit-animation: flip-top 1s ease-in forwards; */
}

.box-bawah {
  width: 90%;
  height: 40%;
  background: orangered;
  position: absolute;
  bottom: calc(10% - 0.5px);
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  /* animation: flip-bottom 1s ease-out 0.5s;
  transform-origin: top;
  transform: rotateX(90deg);
  -webkit-animation: flip-bottom 1s ease-out 0.5s; */
}
/* 
@keyframes flip-top {
  to {
    transform: rotateX(90deg);
  }
}
@keyframes flip-bottom {
  to {
    transform: rotateX(0deg);
  }
} */
.half-left {
  width: 6px;
  height: 12px;
  background: hsl(234, 17%, 12%);
  position: absolute;
  border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
  z-index: 4;
  left: 12px;
  top: calc(50% - 6px);
}

.half-right {
  width: 6px;
  height: 12px;
  background: hsl(234, 17%, 12%);
  position: absolute;
  border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  z-index: 4;
  right: 12px;
  top: calc(50% - 6px);
}

.number-title {
  z-index: 2;
}
.text-title {
  letter-spacing: 4px;
}

.bg-hills {
  width: 100%;
  height: 14rem;
  background-image: url(assets/pattern-hills.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  bottom: 0;
}

.social {
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 3;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  column-gap: 3rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1300px) {
  .text1 {
    padding-top: 14vh;
  }

  .box-number {
    width: 13rem;
    height: 12rem;
  }

  .number-title {
    font-size: 68px;
  }
}

@media screen and (max-width: 992px) {
  .number-title {
    font-size: 60px;
  }

  .box-number {
    width: 11rem;
    height: 10rem;
  }

  .half-left {
    left: 6px;
  }

  .half-right {
    right: 6px;
  }
  .main {
    column-gap: 1rem;
  }

  .text1 {
    padding-top: 10vh;
  }
}

@media screen and (max-width: 768px) {
  .number-title {
    font-size: 46px;
  }
  .box-number {
    width: 9rem;
    height: 8rem;
  }

  .half-left {
    left: 5px;
  }

  .half-right {
    right: 5px;
  }
}

@media screen and (max-width: 576px) {
  .number-title {
    font-size: 30px;
  }

  .text-title {
    letter-spacing: 0;
  }

  .box-number {
    width: 7rem;
    height: 6rem;
  }
  .half-left {
    left: 4px;
  }

  .half-right {
    right: 4px;
  }
}

@media screen and (max-width: 500px) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
