@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Roboto Flex", sans-serif;
  color: black;
}
html,
body {
  height: auto !important;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 1);
  box-sizing: border-box;
}

@mixin font {
  font-family: "Roboto Flex", sans-serif;
}

@mixin container {
  box-sizing: border-box;
  padding-left: 8%;
  padding-right: 8%;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin grid-row-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
