@import "/src/pages/base.module.scss";

.content {
  @include flex-column;
  padding: 2rem 0;
  @include container;
  row-gap: 3rem;
  padding-top: 101.5px;
  min-height: 100vh;

  .top {
    @include flex-row;
    justify-content: space-between;
    padding-top: 2rem;

    .topRight {
      @include flex-row;
      align-items: center;
      justify-content: end;
      column-gap: 2rem;
      width: 100%;

      .topDropdown {
        width: 240px;
        .inputBox {
          min-width: 100% !important;
        }
      }
    }
  }

  .main {
    @include flex-row;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
    justify-content: center;

    div span {
      font-size: 14px;
      font-weight: 500;
      color: black;
    }

    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      // width: 21.8rem;
      // width: 18.2vmin;
      // min-width: 18vw;
      min-width: 18rem;
      width: 18.3vw; /* Minimum width of 200 pixels */

      .countryName {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 1rem;
        @include font;
      }

      .population {
        margin-bottom: 0.5rem;
        @include font;
        color: rgba(0, 0, 0, 0.5);

        // .darkSpan {
        //   color: white;
        // }
      }

      .region {
        margin-bottom: 0.5rem;
        @include font;
        color: rgba(0, 0, 0, 0.719);
      }

      .capital {
        @include font;
        color: rgba(0, 0, 0, 0.719);
      }

      .capital1 {
        color: aqua;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .content {
    .top {
      @include flex-column;
      row-gap: 1.8rem;
      padding-top: 2rem;

      .topSearch .textFieldCustom {
        width: 100%;
      }
      .topRight {
        @include flex-row;
        align-items: center;
        column-gap: 2rem;
        width: 100%;
        flex-direction: row-reverse;

        .topDropdown {
          width: 100%;
          .inputBox {
            min-width: 100% !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .content {
    padding-top: 144.5px;
  }
}

@media screen and (max-width: 360px) {
  .card {
    min-width: 0 !important;
    width: 100% !important;
  }
}
