body {
  font-family: "Inter", sans-serif;
  color: rgba(62, 51, 78, 1);
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgba(244, 244, 244, 1);
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}

.input {
  padding: 2% 14%;
  display: grid;
  grid-template-columns: 40% 1fr;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logo-input {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.name-logo {
  font-size: 32px;
  font-weight: 600;
}

.form-input {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  column-gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.email-form {
  display: flex;
  flex-direction: column;
}

.password-form {
  display: flex;
  flex-direction: column;
}

.form-input input {
  padding: 0.8rem;
  font-size: 16px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(175, 162, 195, 1);
  color: rgba(62, 51, 78, 1);
  background-color: rgba(255, 255, 255, 0);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.button-submit button {
  width: 100%;
  padding: 0.8rem;
  color: rgba(62, 51, 78, 1);
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(62, 51, 78, 1);
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.button-submit .login-button button {
  background: linear-gradient(270deg, #fb6564 0%, #a03cea 100%);
  border-color: linear-gradient(270deg, #fb6564 0%, #a03cea 100%);
  color: rgba(255, 255, 255, 1);
  border-width: 0;
}

.form-input input:focus {
  outline: none;
}

.form-input input {
  margin: 0.6rem 0;
}

.text1 {
  visibility: hidden;
}

.user-login {
  display: grid;
  grid-template-columns: 1fr 35%;
  padding: 0 14%;
  box-sizing: border-box;
}

.account-login {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  row-gap: 1.5rem;
}

.text1-account-login {
  font-size: 48px;
  font-weight: 600;
}

.text2-account-login {
  font-size: 20px;
  font-weight: 300;
}

.recent-account-login {
  font-size: 18px;
  font-weight: 400;
}

.card-account-login {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.card {
  height: 10rem;
  width: 10rem;
  background: transparent;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.8rem;
  border: 1px solid rgba(193, 162, 139, 1);
}
/* .boxtest {
  display: flex;
  background: #fb6564;
  height: 100%;
  width: 100%;
} */

.name-card {
  font-size: 14px;
  font-weight: 700;
}

.circleadd {
  height: 80px;
  width: 80px;
  background: rgba(223, 207, 194, 1);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-add {
  display: flex;
  font-size: 38px;
  justify-content: center;
}

.text1-signup {
  font-size: 32px;
  font-weight: 700;
  width: 18rem;
}

.text2-signup {
  font-size: 20px;
  font-weight: 300;
}

.text-signup {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.signup {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 2.4rem;
}

.loginwith {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  width: 100%;
  /* align-items: center; */
  /* justify-items: center; */
}

.button-loginwith {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.text-loginwith {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-loginwith button {
  width: 100%;
  padding: 0.7rem;
  color: rgba(62, 51, 78, 1);
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(175, 162, 195, 1);
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.button-signup-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.button-signup-1 button {
  width: 100%;
  padding: 0.8rem;
  color: rgba(62, 51, 78, 1);
  border-radius: 10px;

  border-style: solid;
  border-color: rgba(62, 51, 78, 1);
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: linear-gradient(270deg, #fb6564 0%, #a03cea 100%);
  border-color: linear-gradient(270deg, #fb6564 0%, #a03cea 100%);
  color: rgba(255, 255, 255, 1);
  border-width: 0;
}

.button-signup {
  display: flex;
  flex-direction: column;
  width: 70%;
  row-gap: 1.8rem;
}

.footercolor {
  height: 11rem;
  background: linear-gradient(270deg, #fb6564 0%, #a03cea 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.logo-bot .logo-input .name-logo {
  color: rgba(255, 255, 255, 1);
}

.logo-bot {
  display: none;
}

.name-logo-bot {
  font-size: 32px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

/* .logo-bot {
  display: none;
} */

@media screen and (max-width: 576px) {
  .container {
    flex-direction: column-reverse;
  }

  .account-login {
    display: none;
  }

  .user-login {
    padding: 1% 5%;
    display: flex;
  }
  .text1-signup {
    font-size: 26px;
  }

  .text2-signup {
    font-size: 16px;
  }
  .signup {
    row-gap: 1rem;
  }

  .button-signup {
    width: 100%;
    row-gap: 1rem;
  }

  .logo-input {
    display: none;
  }

  .input {
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
    width: 100%;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
  }
  .textforget {
    display: flex;
    justify-content: end;
  }

  .text1 {
    display: none;
  }

  .button-form .text {
    display: none;
  }

  .logo-bot {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  .name-logo-bot {
    font-size: 32px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
  }

  .footercolor {
    height: 100%;
  }

  .logo-bot {
    position: absolute;
    top: 30%;
  }

  .boxtest {
    width: 100%;
    height: 4rem;
    background: rgba(244, 244, 244, 1);
    position: absolute;
    bottom: -1;
    left: 0;
    border-radius: 50% 50% 0 0/ 100% 100% 0 0;
    -webkit-border-radius: 50% 50% 0 0/ 100% 100% 0 0;
    -moz-border-radius: 50% 50% 0 0/ 100% 100% 0 0;
    -ms-border-radius: 50% 50% 0 0/ 100% 100% 0 0;
    -o-border-radius: 50% 50% 0 0/ 100% 100% 0 0;
    transform: scaleX(1.2);
    -webkit-transform: scaleX(1.2);
    -moz-transform: scaleX(1.2);
    -ms-transform: scaleX(1.2);
    -o-transform: scaleX(1.2);
  }

  .button-form {
    margin: 1rem 0;
  }
}
