body {
  font-family: "Inter", sans-serif;
  color: rgba(62, 51, 78, 1);
  overflow-x: hidden;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgba(244, 244, 244, 1);
}

.auth {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
}

.auth-left {
  background: url(assets/image_1.png);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
  box-sizing: border-box;

  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
}

.auth-right {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 5rem 10rem;
  box-sizing: border-box;
}

.box-auth-left {
  display: flex;
  /* margin-top: auto; */
  background: rgba(255, 255, 255, 0.5);

  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0 2rem;
  row-gap: 2rem;
}

.text1-auth-left {
  font-size: 48px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  width: 22rem;
}
.text1-black {
  color: rgba(62, 51, 78, 1);
}

.text2-auth-left {
  font-size: 18px;
  font-weight: 400;
  width: 18rem;
  color: rgba(62, 51, 78, 1);
}

.logo-auth-right {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.tomobile-auth-right {
  width: 100%;
}
.name-logo {
  font-size: 32px;
  font-weight: 600;
}

.hello-auth-right {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 3rem;
}

.text1-hello {
  font-size: 32px;
  font-weight: 700;
}

.text2-hello {
  font-size: 18px;
  font-weight: 400;
}

.textlogin-auth-right {
  display: none;
}

.boxinput-auth-right {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  margin-top: 4rem;
  width: 100%;
}

.input-boxinput {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

.input-boxinput input {
  padding: 0.8rem;
  font-size: 16px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(175, 162, 195, 1);
  color: rgba(62, 51, 78, 1);
  background-color: rgba(255, 255, 255, 0);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.input-boxinput input:focus {
  outline: none;
}

.remain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .rememberme-remain input[type="checkbox"]:checked + label {
  background-color: #3c8dbc;
  border-color: #3c8dbc;
} */
#rememberme {
  accent-color: #a03cea;
}
.button-submit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.button-submit button {
  width: 100%;
  padding: 0.8rem;
  color: rgba(62, 51, 78, 1);
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(62, 51, 78, 1);
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.button-submit .login-button button {
  background: linear-gradient(270deg, #fb6564 0%, #a03cea 100%);
  border-color: linear-gradient(270deg, #fb6564 0%, #a03cea 100%);
  color: rgba(255, 255, 255, 1);
  border-width: 0;
}

.loginwith {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 4rem;
  width: 100%;
  /* align-items: center; */
  /* justify-items: center; */
}

.button-loginwith {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.text-loginwith {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-loginwith button {
  width: 100%;
  padding: 0.7rem;
  color: rgba(62, 51, 78, 1);
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(175, 162, 195, 1);
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

@media screen and (max-width: 576px) {
  .auth-left {
    display: none;
  }

  .auth {
    display: grid;
    grid-template-columns: 1fr;
  }

  .auth-right {
    padding: 10%;
    justify-content: space-between;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.616) 41.98%,
        rgba(255, 255, 255, 0.8) 100%
      ),
      url(assets/Rectangle_9.png);
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;
  }

  .textlogin-auth-right {
    display: block;
    font-size: 24px;
    font-weight: 600;
  }
}
