html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  color: white;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
.home {
  display: flex;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(Assets/Assets/main-bg.jpg);
  background-size: cover;

  background-color: aquamarine;

  background-repeat: no-repeat;
  background-position: bottom;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  flex: auto;
  width: 100%;

  align-items: center;
  height: 80px;

  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 1;
}

.navbar-mb {
  display: none;
}

.navbar-mb-menu {
  display: none;
}

/* .navbar-mb-menu {
  display: block;
  position: fixed;
  top: 80px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  z-index: 1;
  text-align: right;
}

.navbar-list-item-mb {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
} */

.container {
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  font-weight: 700;
}

.navbar-list-all {
  position: relative;
}

.navbar-list-all::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background: wheat !important;
  left: 0;
  bottom: -5px;
  transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.navbar-list-all:hover {
  color: wheat;
}

.nav-active::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background: white;
  left: 0;
  bottom: -5px;
  transform: scale(0.7, 1);
  -webkit-transform: scale(0.7, 1);
  -moz-transform: scale(0.7, 1);
  -ms-transform: scale(0.7, 1);
  -o-transform: scale(0.7, 1);
  transition: transform 0.3s ease;
}

.navbar-list-all:hover:after {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  margin-right: 70px;
}

.navbar-list-item {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.nabvar-list-login-item {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.button {
  background-color: #ffb548;
  border: 1px solid #ffb548;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-weight: 700;
  outline: none;
  outline: 0;
  padding: 14px 60px;
  text-align: center;
  /* transform: translateY(0); */
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  margin-top: 20rem;
}

.hero-title {
  font-weight: 700;
  font-size: 64px;
}

.hero-desc {
  font-size: 22px;
  font-weight: 400;
}

.icon-the-story {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  row-gap: 1rem;
}

.scroll-bot {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: end;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 2rem;
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(-8px);
  }
}

/* 2 */

.story {
  display: grid;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(Assets/Assets/the-games-bg.jpg);
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 22vh;
  align-items: start;

  grid-template-columns: 300px 1fr;
}

.text1-games {
  font-size: 20px;
  font-weight: 400;
}

.text2-games {
  font-size: 46px;
  font-weight: 400;
}

.carousel-game {
  display: flex;
  align-items: start;
  /* justify-content: center; */
}

/* 3 */

.features {
  display: grid;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    radial-gradient(
      51.1% 80.48% at 30.85% 53.65%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 19.2%,
      rgba(4, 5, 6, 0.520671) 47.48%,
      #080a0b 99.74%
    ),
    url(Assets/Assets/bg-image-3.jpg);
  background-size: cover;

  background-repeat: no-repeat;
  background-position: top;
  padding-top: 22vh;
  grid-template-columns: 1fr 40%;
}

.features-detail {
  display: grid;
  grid-template-rows: 15vh 1fr;
}

.text1-features {
  font-size: 20px;
  font-weight: 400;
}

.text2-features {
  font-size: 46px;
  font-weight: 400;
}

.desc-features {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  position: relative;
}

.detail-features {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  padding-left: 2rem;
  position: relative;
}

.detail-features::before {
  content: "";
  position: absolute;

  height: calc(100% + 40px);
  width: 2px;
  background: transparent;
  left: 3.5px;
  top: 5px;
}

.active-feature::before {
  background: white;
}

.detail-features .title-detail-features::before {
  content: "";
  position: absolute;
  height: 1rem;
  width: 1rem;
  background: transparent;

  border-radius: 100px;
  top: 5px;
  left: -5px;
  border: 2px solid rgb(255, 255, 255);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.detail-features .active-feature-title::before {
  background: white;
}
.title-detail-features {
  font-size: 20px;
  color: #ffb548;
}
.desc-detail-features {
  font-size: 16px;
}

/* 4 */

.systemreq {
  display: flex;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    radial-gradient(
      33.26% 45% at 64.32% 47.1%,
      rgba(255, 255, 255, 0) 3.36%,
      rgba(0, 0, 0, 0) 19.22%,
      #080a0b 99.74%
    ),
    url("Assets/Assets/requirements.png");

  background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 16vh;
  flex-direction: column;
  align-items: center;
}
.canplay {
  font-size: 14px;
  margin-top: 20px;
}

.detail-systemreq {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

.title-desc-systemreq {
  font-size: 46px;
}

table,
td,
th {
  border: 0.2px solid;
  padding: 12px 12px;
  border-collapse: collapse;
  margin-top: 24px;
  border-color: #85858591;
}

/* 5 */

.quote {
  display: grid;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    radial-gradient(
      70.52% 37.27% at 24.21% 47.47%,
      rgba(35, 15, 15, 0) 0%,
      rgba(0, 0, 0, 0) 51.1%,
      #080a0b 99.74%
    ),
    url(Assets/Assets/bg-image-5.jpg);
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 5vh;

  grid-template-columns: 1fr 1fr;
}

.detail-quote {
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
  justify-content: center;
}

.title-detail-quote {
  font-size: 46px;
}
.desc-detail-quote {
  margin-bottom: 30px;
}
.review-quote {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: flex-end;
}

.card {
  height: 130px;
  width: 360px;

  background: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  padding: 16px 16px;
}

.pic {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.avatar-pic {
  height: 56px;
  width: 56px;
  background: url(Assets/Assets/image-8.jpg);
  box-shadow: 6px 3px rgba(255, 181, 72, 1);
  border-radius: 100px;
}

.card:nth-child(2) .avatar-pic {
  background: url(Assets/Assets/image.jpg);
}

.card:nth-child(3) .avatar-pic {
  background: url(Assets/Assets/image-9.jpg);
}
.text-card {
  margin-top: 14px;
}

.date-card {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
  justify-content: flex-end;
  margin-top: auto;
}

.name-name-pic {
  font-size: 20px;
  color: rgba(255, 181, 72, 1);
}

.title-name-pic {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.name-icon-pic {
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
}

.card:nth-child(2) {
  margin-right: 140px;
}

/* 6 */

.newsletter {
  display: grid;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(Assets/Assets/newsletter.png);
  background-size: cover;

  background-repeat: no-repeat;
  background-position: top;
  padding-top: 5vh;

  grid-template-columns: 1fr 1fr;
}

.detail-newsletter {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
}

.stayin-detail-newsletter {
  font-size: 22px;
  width: 200px;
}

.title-detail-newsletter {
  font-size: 46px;
  width: 180px;
}

.text-detail-newsletter {
  font-size: 16px;
}

.button-detail-newsletter {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-gap: 10px;
  margin-top: 30px;
}

.button-detail-newsletter .button {
  padding: 12px 24px;
}

.input-newsletter {
  background: rgba(255, 255, 255, 0.08);

  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  color: white;

  outline: none;
  outline: 0;
  padding-left: 10px;
  /* transform: translateY(0); */
}

/* footer */

.footer {
  display: flex;
  width: 100%;

  background: black;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.border {
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
  padding: 1rem 0;
}

.title-footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}

.footer-nav-list {
  display: flex;
  column-gap: 30px;
  font-size: 14px;
}

.social {
  margin-left: 20px;
}

.social-list {
  display: flex;
  column-gap: 40px;

  height: 20px;
}

.img-social {
  height: 16px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: 8%;
    padding-right: 8%;
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
  }

  .hero {
    margin-top: 20rem;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding-left: 6%;
    padding-right: 6%;
  }

  .navbar {
    display: none;
  }

  .navbar-mb {
    display: flex;

    justify-content: space-between;
    width: 100%;

    align-items: center;
    height: 80px;

    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
  }

  .navbar-menu {
    display: flex;
    width: max-content;
  }
  .navbar-mb-menu {
    display: block;
    position: fixed;
    top: 80px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    z-index: 1;
    text-align: right;
    right: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }

  .navbar-list-item-mb {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
  .slide {
    right: 0;
  }

  .checkbtn {
    cursor: pointer;
    font-size: 26px;
    z-index: 1;
  }

  #check {
    display: none;
  }
  .hero-title {
    font-weight: 700;
    font-size: 50px;
  }

  .quote {
    grid-template-columns: auto;
    grid-template-rows: max-content 1fr;
  }

  .button-detail-quote {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .review-quote {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .newsletter {
    display: flex;
    padding-left: 30% !important;
    width: 100%;
  }

  .title-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .hero{
    margin-top: ;
  } */
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 4%;
    padding-right: 4%;
  }

  /* .navbar {
    display: none;
  }

  .navbar-mb {
    display: flex;

    justify-content: space-between;
    width: 100%;

    align-items: center;
    height: 80px;

    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
  }

  .navbar-menu {
    display: flex;
    width: max-content;
  } */

  .menu-icon {
    height: 40px;
    width: 40px;
    color: antiquewhite;
  }
  /* .uil-bars {
    font-size: 26px;
    z-index: 1;
  } */

  /* .checkbtn {
    cursor: pointer;
    font-size: 26px;
    z-index: 1;
  }

  #check {
    display: none;
  } */

  .hero-title {
    font-weight: 700;
    font-size: 42px;
  }

  ul {
    padding: 0;
  }

  .story {
    grid-template-columns: auto;
    grid-template-rows: max-content 1fr;
  }

  .features {
    padding-top: 0%;
    grid-template-columns: auto;
    grid-template-rows: max-content 1fr;
    align-items: center;
  }

  .detail-systemreq {
    padding-top: 0%;
    grid-template-columns: auto;
    grid-template-rows: max-content 1fr;
    align-items: center;
  }

  .newsletter {
    padding-left: 15% !important;
  }
  .copyright {
    flex-direction: column;
    row-gap: 1rem;
  } /* .icon-the-story {
    margin-top: 19rem;
  } */
}

@media screen and (max-width: 576px) {
  .container {
    padding-left: 2%;
    padding-right: 2%;
  }

  .uil-bars {
    font-size: 26px;
  }

  .hero-title {
    font-weight: 700;
    font-size: 32px;
  }

  .hero {
    margin-top: 16rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    text-align: center;
  }

  .card {
    width: 100%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    padding: 1rem;
  }

  .card:nth-child(2) {
    margin: 0;
  }

  .review-quote {
    padding: 1rem;
  }
  .newsletter {
    padding-left: 2% !important;
  }

  .button-detail-newsletter {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }

  .footer-nav-list {
    flex-direction: column;
    align-items: center;
    row-gap: 0.8rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

/* Medium devices (landscape tablets, 768px and up) */

/* Large devices (laptops/desktops, 992px and up) */
